:root {
  --green: #71C562;
}

html {
  box-sizing: border-box;
}

.navbar-brand img {
  width: 25%;
}

@media screen and (max-width:576px) {
  .navbar-brand {
padding-left: 40px;
}
.navbar-toggler {
  margin-right: 25px;
}
.navbar-toggler-icon {
  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

}

.right-about {
  padding-left: 50px;
}

@media screen and (max-width:576px) {
  .right {
    padding-left: 10px;
  }
}


.bg-dark {
  background-color: black;
}

.btn {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  }

a:hover {
  color: black;
}

.home-intro p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
  background: no-repeat center center;
  background-size: cover;

  color: white;
}

.color-overlay {
  min-height: 80vh;
  background-color: rgba(0, 0, 0, .75);
}


@media screen and (max-width:576px) {
  .color-overlay {
   min-height: 57vh;
   padding-bottom: 119px;
   margin-top: 50px;
  }
}

@media screen and (max-width:576px) {

  .work-par {
    width: 75% !important;
  }
}

h1 {
  font-family: "Shadows Into light", cursive;
  font-weight: 100;
  font-size: 60px;
}

h2 {
  font-family: "Shadows Into light", cursive;
  font-weight: 100;
  font-size: 80px;
}

.headline {
  font-family: "Shadows Into light", cursive;
  font-weight: 100;
  font-size: 150px;
}

@media screen and (max-width:576px) {
  .headline {
    font-size: 80px;
    width: 200px;
  }

  h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
  }

  .image {
    height: 260px;
  }

  .lead {
    text-align: center;
    
  }
  
  
  .footer-lead {
    text-align: center;
    width: 75%;
  }
}


.image {
  background-image: url(images/Selfie.png);
  background-size: cover;
  width: 100%;
  height: 380px;
}

@media screen and (min-width:356px) {
  .image {
    height: 250px;
  }
}
@media screen and (min-width:1400px) {
  .image {
    height: 295px;
  }
}


.green {
  color:var(--green);
}

.btn-primary { 
  background-color: var(--green);
  border: 1px solid transparent;
 }

.btn-primary:hover {
  background-color: white;
  color: var(--green);
  border-color: var(--green);
  border:1px solid var(--green);
}

.btn-lg {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 2.25rem;
  --bs-btn-border-radius: 0.5rem;
  font-size: 18px;
}



.arrow {
  text-align: center;
  margin-top: -75px;
}



.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.about-header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-me {
  margin-top: 50px;

}



.container-footer {
  height: 50vh;
  margin-top: 100px;
  padding: 50px;
}

.footer-header {
  width: 400px;
  line-height: 75px ;
}

.fa-2xl {
  font-size: 3rem;
}

.logo-item {
  color: white;
}

.logo-item:hover {
  color: var(--green);
}



/*NAVIGATION STYLES*/

.navbar__container {
  background: black;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--green);
}

@media only screen and (min-width: 992px) {
  .navbar__container {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 10px 250px;
  }
  .navbar-brand.second {
    display: none !important;
    color: white;
  }
  #navbarNav ul li {
    padding: 0 25px;
  }

  #navbarNav {
    padding-left: 50px;
  }



  .navbar__container {
    height: 80px;
  }
}

@media only screen and (max-width: 991px) {
  .hide-on-small {
    display: none;
  }

  a.nav-link {
    padding-top: 20px;
    text-align: center;
  }
}





.carousel-inner {
  height: 500px;
}

.item img {
    position:absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.gallery-container {
  padding-top: 100px;
}

.breadcrumb {
  padding-top: 30px;
  font-size: 20px;
  padding-left: 85px;
}

header{
	margin: 2em 0 1em;
	font-size: 12.2px;
	text-align:center;
	position:relative;
}

hr {
  opacity: 100 !important;
}


header  hr{
	display:block;
	position: absolute;
	border-top:2px solid #000;
	z-index:-1;
	left: 0px;
	width:100%;
	margin:0;
 
}
header hr.right{
	left:auto;
	right:0px;

}
header  hr#thread1{
	top: 0.8em;
	-webkit-animation: thread2 10s infinite;
  	-moz-animation:    thread2 10s infinite;
  	-o-animation:      thread2 10s infinite;
  	animation:         thread2 10s infinite;	

}
header hr#thread2{
	top:1.8em;
	/*right:15px;*/
	-webkit-animation: thread2 8s infinite;
  	-moz-animation:    thread2 8s infinite;
  	-o-animation:      thread2 8s infinite;
  	animation:         thread2 8s infinite;
    right:0 !important;	
}
header hr#thread3{
	top:2.8em;
/* right:15px; */
	border-color:var(--green);
	-webkit-animation: thread2 6s infinite;
  	-moz-animation:    thread2 6s infinite;
  	-o-animation:      thread2 6s infinite;
  	animation:         thread2 6s infinite;
  
}
header hr#thread4{
	top:3.8em;
	border-color:black;
	-webkit-animation: thread2 12s infinite;
  	-moz-animation:    thread2 12s infinite;
  	-o-animation:      thread2 12s infinite;
  	animation:         thread2 12s infinite;	
}
header hr#thread5{
	top:4.8em;
	border-color:var(--green);
	-webkit-animation: thread2 16s infinite;
  	-moz-animation:    thread2 16s infinite;
  	-o-animation:      thread2 16s infinite;
  	animation:         thread2 16s infinite;	
}
header hr#thread6{
	top:5.8em;
  border-color: black;
	-webkit-animation: thread2 6s infinite;
  	-moz-animation:    thread2 6s infinite;
  	-o-animation:      thread2 6s infinite;
  	animation:         thread2 6s infinite;	
}
@media (min-width: 768px) {
	header{
		font-size:18px;
	}
	h1.site-title a{
		width:416px;
		height:120px;
		margin: 0px auto 0px;
		text-indent: -9999px;
    background: url(https://loomweb.co.za/wp-content/themes/starkers/img/loom-logo-2.png) 50% 5px no-repeat;
	}
	h1.site-title small{
		font-size: 35px;
	}
  header  hr {
    
	border-width:3px;
  }


}


@-webkit-keyframes thread2 {
	  0%   { width: 100%; }
	  50% { width: 100%; }
	  80% { width: 0px;}
	  100%{ width:100%;}
	}
	@-moz-keyframes thread2 {
	  0%   { width: 100%; }
	  50% { width: 100%; }
	  80% { width: 0px;}
	  100%{ width:100%;}
	}
	@-o-keyframes thread2 {
	  0%   { width: 100%; }
	  50% { width: 100%; }
	  80% { width: 0px;}
	  100%{ width:100%;}
	}
	@keyframes thread2 {
	  0%   { width: 100%; }
	  50% { width: 100%; }
	  80% { width: 0px;}
	  100%{ width:100%;}
}

.animated-lines {
  padding-top: 150px;
}

img{
	max-width: 100%;
}
.gallery{
	background-color: #ffffff;
  padding-top: 200px !important;
}
.gallery img{
	background-color: #ffffff;
	padding: 8px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}